name: code-analysis

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  code_analysis:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6

      - name: Run CAPM
        uses: getcapm/capm-action@v1
