name: release

on: [workflow_dispatch]

jobs:
  release:
    runs-on: ubuntu-latest
    concurrency: release
    permissions:
      contents: write
    outputs:
      version: ${{ steps.release.outputs.version }}
    steps:
    - name: Checkout sources
      uses: actions/checkout@v6
      with:
        fetch-depth: 0

    - name: Install uv
      uses: astral-sh/setup-uv@v7

    - name: Install dependencies
      run: uv sync --locked --dev

    - name: Python Semantic Release
      id: release
      uses: relekang/python-semantic-release@v10.5.2
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        strict: true

  update_repo:
    runs-on: ubuntu-latest
    needs: release
    concurrency: release
    permissions:
      contents: write
    steps:
    - name: Checkout sources
      uses: actions/checkout@v6
      with:
        ref: main
        fetch-depth: 0

    - name: Install uv
      uses: astral-sh/setup-uv@v7

    - name: Update lock file
      run: uv lock

    - name: Push changes
      uses: stefanzweifel/git-auto-commit-action@v7 

  release_pypi:
    runs-on: ubuntu-latest
    needs: update_repo
    environment:
      name: pypi
      url: https://pypi.org/p/inquirer-textual
    permissions:
      id-token: write
      contents: write
    steps:
    - name: Checkout sources
      uses: actions/checkout@v6
      with:
        ref: main

    - name: Install uv
      uses: astral-sh/setup-uv@v7

    - name: Install dependencies
      run: uv sync --locked --dev

    - name: Commit changes
      uses: stefanzweifel/git-auto-commit-action@v7
      with:
        commit_message: Build by GitHub Actions
        file_pattern: uv.lock

    - name: Build distribution
      run: uv build

    - name: Publish to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
